.foundbug_block_left {
    position: fixed;
    border: 1px solid black;
    padding: 10px;
    left: -50px;
    z-index: 99;
}

.foundbug_block_left:hover {
    left: 0px;
}

.foundbug_block_right {
    position: fixed;
    border: 1px solid black;
    padding: 10px;
    right: -50px;
    z-index: 99;
}

.foundbug_block_right:hover {
    right: 0px;
}

.form-item {
    margin: 0px;
}

.bug-button {

    background-color: transparent;
    width: 48px;
    height: 48px;
    border: none;
    text-indent: -999em;
}

#edit-text {
    margin: 0px;
}

#foundbug-send-form {
    width: 300px;
    margin: auto;
}

.form-textarea-wrapper.resizable.textarea-processed.resizable-textarea {
    margin: 0px;
}

#PS {
    font-size: 80%;
    margin: 0;
    color: #a9a9a9;
}

.foundbug_fix {

    background-color: transparent;
    background-image: url(../image/button_ok.png);
    max-width: 80%;
    max-height: 80%;
    width: 20px;
    height: 20px;
    border: none;
    text-indent: -999em;
}

.foundbug_fixed {

    background-color: transparent;
    background-image: url(../image/button_ok_fixed.png);
    width: 20px;
    height: 20px;
    border: none;
    text-indent: -999em;
}

.foundbug_delete {

    background-color: transparent;
    background-image: url(../image/delete.png);
    width: 20px;
    height: 20px;
    border: none;
    text-indent: -999em;
}
img.bugreport-image{
    width: 50%;
}

img.radio_bugs{
    width:48px;
}